language: php

sudo: false

php:
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - 7.3

before_install:
    # turn off XDebug, if present
    - phpenv config-rm xdebug.ini || return 0

install:
    - composer install --no-interaction --no-progress

script: vendor/bin/phpunit
